* {
    padding: 0;
    margin: 0;
    -moz-box-sizing: border-box;
}

html {
    font-size: 12pt;
}

body {
    font-family: verdana;
    font-size: 10pt;
}

#os-controls {
    float: left;
    clear: both;
    width: 100%;
    height: auto;
}

#app-navigation {
    float: left;
    clear: both;
    width: 100%;
    height: auto;
}
