
button {
    margin: 0 0 1rem;
    padding: 0 1.5rem;
}

#firefox-os-install-btn, #firefox-os-installed-btn {
    display: none;
    float: left;
    height: 3.8rem;
    font-size: 1.6rem;
    line-height: 3.8rem;
    text-align: center;
}

#app-back-btn {
    float: left;
    height: 2.5rem;
}

#app-settings-btn {
    float: right;
    height: 2.5rem;
}